body {
  
}

.container {
  width: 80%;
}

.row {
  display: flex;
}

.column-2 {
  flex: 50%;
}

.column-4 {
  flex: 25%;
}

@media screen and (max-width: 600px) {
  .column-2, .column-4 {
    flex: 100%;
  }
}