/*** Global Styles ***/
* {
  box-sizing: border-box;
}

body {
  background: #1d1e22;
  color: rgba(255, 255, 255, 0.7);
  
  line-height: 1.6;
  font-size: 18px;
  padding: 0 10px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.column {
  padding: 15px 10px;
  box-sizing: border-box;
  flex-grow: 1
}

/*** Content Styles ***/
h2 {
  color: rgba(255, 255, 255, 0.85);
  text-align: center;
}

input, label {
  display: block;
}
  
  input[type="text"] {
    width: 100%;
  }
  
  input[type="submit"] {
    text-align: center;
    margin: 0 auto;
  }

/* Cancel display block for radio buttons */
.radio input, .radio label {
  display: inline-block;
}

.map-data {
  display: flex;
}

#player-info {
  display: flex;
}

#input-name {
  max-width: 200px;
}

@media screen and (max-width: 600px) {
  .column-2, .column-4 {
    flex: 100%;
  }
}
